$primaryColor: #4527a4;

.bpmpInspectorInfo {
	padding: 6px;

	a {
		text-decoration: none;
		font-weight: bold;
	}
}

.bpMp3PlayerError {
	color: red !important;
	text-align: center;
	font-size: 20px;
}