$primaryColor: #4527a4;

// Dashicon
.dashicons {
	font-family: dashicons !important;
}

// Audio Player
.wp-block-bpmp-mp3-player {
	* {
		box-sizing: border-box;
	}

	.bpMp3Player {
		max-width: 100%;
		background-color: #fff;
		border-radius: 1rem;
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
		padding: 1rem 2rem;
		margin-top: 3rem;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.coverBox {
			border-radius: 1rem;
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
			position: relative;
			bottom: 4rem;
			width: 85%;

			img {
				border-radius: inherit;
				display: block;
				height: 100%;
				width: 100%;
			}
		}

		.contentBox {
			width: 100%;

			.info {
				text-align: center;
				width: 100%;
				position: relative;
				bottom: 2rem;
			}

			#title {
				font-size: 2rem;
				font-weight: 600;
			}

			#artist {
				font-size: 1.4rem;
				font-weight: 500;
			}

			#progressContainer {
				height: 4px;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.2);
				margin: 2rem 0 1rem;
				cursor: pointer;
				border-radius: 8px;
			}

			#progress {
				background-color: #000;
				width: 0%;
				height: inherit;
				border-radius: inherit;
				transition: width 100ms ease-in;
			}

			.timeBar {
				display: flex;
				justify-content: space-between;
				font-size: 1.4rem;
			}

			.controls {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 1rem;

				svg {
					font-style: inherit;
					border-radius: 0;
				}
			}

			.navBtn {
				display: inline-block;
				font-size: 1.6rem;
				padding: 10px;
				cursor: pointer;
				border: none;
				outline: none;
				border-radius: 4rem;
				fill: #a0a0a0;
				transition: background 200ms linear, color 200ms linear;
			}

			.prevBtn,
			.nextBtn {
				width: 45px;
				height: 45px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;

				svg {
					width: 40px;
				}

				&:hover {
					background-color: #d8d8d8;
					color: #545454;
				}
			}

			.playPauseBtn {
				background-color: #000;
				fill: #fff;
				margin: 0 1rem;
				cursor: pointer;
				border: none;
				outline: none;
				transition: opacity 200ms linear;
				width: 60px;
				height: 60px;
				overflow: hidden;
				border-radius: 50%;
				display: inline-flex;
				align-items: center;
				justify-content: center;

				&:hover {
					opacity: 0.75;
				}

				svg {
					padding: 16.5px 15px;
				}

				svg.playBtn {
					padding: 15.75px 15px 15.75px 20px;

					.pausePath {
						display: none;
					}
				}

				svg.pauseBtn {
					padding: 14px 16px;

					.playPath {
						display: none;
					}
				}
			}
		}
	}
}